{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-5">


        <form
                action="{{ path('app_home_search') }}"
                method="get"
                class="d-flex justify-content-center mt-5 mb-5"
        >
            <input class="form-control w-50" name="search" type="search" placeholder="Search by name ...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>



        <div class="row d-flex">

            {% for property in properties %}
                <div class="card p-0" style="width: 18rem;">

                    {% if property.infos.0 is not null %}
                        {% if property.infos.0.image.0 is defined and property.infos.0.image.0 is not null%}
                            <img width="100%" src="{{ vich_uploader_asset(property.infos.0.image.0, 'imageFile') }}" class="card-img-top" alt="image Chambre">
                        {% else %}
                            <img src="https://st3.depositphotos.com/23594922/31822/v/450/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" class="card-img-top" alt="...">
                        {% endif %}
                    {% else %}
                        <img src="https://st3.depositphotos.com/23594922/31822/v/450/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ property.name }}</h5>
                        <h6>{{ property.establishment.name }}</h6>
                        <p class="card-text limited-text">{{ property.description }}</p>

                        {% if property.infos.0 is not null %}
                            <a href="{{ path('app_show_property', {'id':property.id}) }}" class="btn btn-success">See More</a>
                            <a href="{{ property.infos.0.urlProperty }}" class="btn btn-primary">See {{ property.establishment.name }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


